<div class="tb-container">
  <div class="table-wrapper">
    <table>
      <tr class="tb-top-row">
        <th class="tb-top-user">Mitarbeiter</th>
        <th class="tb-top-cell" *ngFor="let date of dates">{{date}}</th>
      </tr>
      <tr class="tb-row" *ngFor="let user of users">
        <th class="tb-user">
          <p>{{user.name}}</p>
        </th>
        <td class="tb-cell" *ngFor="let entry of user.calendar"
          (click)="changeStatus(user.name, entry.date)"
          [ngStyle]="{'background-color': getColor(entry)}">
        </td>
      </tr>
    </table>
  </div>
</div>

<!-- <div class="date-check">
  <nb-card size="medium">
    <nb-card-header>
      Datum:
      <input nbInput [nbDatepicker]="datepicker" (input)="onDateCheckChange($event.target.value)">
      <nb-datepicker #datepicker></nb-datepicker>
    </nb-card-header>
    <nb-list>
      <nb-list-item *ngFor="let user of availableUser">
        {{ user.name }}
      </nb-list-item>
    </nb-list>
  </nb-card>
</div> -->
