.table-wrapper {
  overflow-x: scroll;
  overflow-y: visible;
  width: 90%;
  margin-left: 120px;
}

td, th {
  padding: 5px 0;
  width: 20px;
}

th:first-child {
  position: absolute;
  left: 10px;
  width: 110px;
  top: auto;
  text-align: center;
}

.tb-top-row * {
  text-align: center;
}

.tb-row {
 * {
   height: 50px;
 }
}

.tb-user.tb-btn {
  display: flex;

  button {
    margin: 0 3px;
  }
}

.tb-user {
  padding: 0;
  * {height: auto;
    margin: 15px 2px;}
}

.tb-cell {
  border: 1px solid #999;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.date-check nb-card {
  width: 300px;
  height: 400px;
}
